Chapter - Your first program

In [2]:
123+456+7/10

579.7

In [1]:
''.join(reversed('Time to code'))

'edoc ot emiT'

In [1]:
print('hello world')
person = input ('whats your name')
print('hello,',person)

hello world
hello, anna lea

Chapter Variables
if we wnat to write useful codes, we need to be able to store and label pieces of information

In [7]:
#How to create variables
# a variable needs a name
age = 12
print (age)

12

In [16]:
# using numbers
#a simple calculation
x=6
y=x*7
print(y)

#change value
x=10
y=x*7
print(y)

#change value
x=10
y=x*70
print(y)

42
70
700

Working with strings

In [23]:
#string in variables
name = 'Dominik Weiss'
print (name)

#combining strings
greeting = 'Welcome to Jeju-Do, '
message = greeting + name
print (message)

#combined 
name = 'Ha Yeoung Lee, Heamin and Dominik, '
greeting = 'Welcome to Jeju-Do, '
message = greeting + name
print (message)

Dominik Weiss
Welcome to Jeju-Do, Dominik Weiss
Welcome to Jeju-Do, Ha Yeoung Lee, Heamin and Dominik,

Lists
when you want to store a liyt of data oro perhaps the order of the data is importanyt - you may need to use a list

In [28]:
#multiple variables
Jeju_United = ['Ha Yeoung', 'Haemin', 'Kiyun', 'Dominik', 'Min-Sung', 'Hae Ja']
Basel_FC = ['Stephan', 'Kaethi', 'Meret', 'Joris']

#getting items from a list
Jeju_United[0], Basel_FC [3]

('Ha Yeoung', 'Joris')

Chapter Making Decisions

In [38]:
#Questions that compare

#Boolean values
answer_one= True
answer_two  = False

#logical operatores
#== equal to
#!= not equal to
#< less than
#>greater than

#equal signs
age = 10
if age == 10:
    print ('you are ten years old')

you are ten years old

In [43]:
#pineapples and zebras

pineapples = 5
zebras = 2

#making comparisons
pineapples > zebras

True

In [42]:
#marking comparison

zebras > pineapples

False

In [44]:
# multiple comparisons
(pineapples ==3) and (zebras ==2)

False

In [45]:
# multiple comparisons
(pineapples ==3) or (zebras ==2)

True

In [46]:
#boolean expressions
# statements about variables and values that use the logical operators always gives us Boolean value, such a True or False
pineapples != zebras

True

In [4]:
#ridetherollercoaster
age = 10
height = 1.5
(age > 8) and (height > 4.7)

False